<%= form_tag new_multiple_share_reviews_path [@share, @review] do %>
  <% @shares.each do |share| %>

    <div class="share-list-item">
      <%= check_box_tag "share_ids[]", share.id %>

      <div class="share-list-item-name">
        <h3>
          <%= render 'currency_display', share: share %>
          <%= " - #{share.isin}" %>
        </h3>
        <p><%= "Currency S isin : #{share.currencyspecificisin}" %></p>
      </div>

      <div class="share-list-item-body" >
        <p> <%= link_to share.securityname, share_path(share), target:"_blank", class: "btn  btn-success"%></p>
        <p><%= "Nom du fonds : #{share.fundname}" %></p>
      </div>
      <%= render 'currency_check', share: share %>
    </div>
  <% end %>

  <%= select_tag :field, options_for_select([["All Fields", ""], ["investment_strategy", "investment_strategy"], ["current_strategy", "current_strategy"]]) %>
  <% if @shares.count > 0 %>
    <%= submit_tag "Edit strategy", class: "btn  btn-info" %>
  <% end %>
<% end %>
