<%= form_tag new_multiple_share_reviews_path [@share, @review] do %>
  <% @shares.each do |share| %>

    <div class="share-list-item">
      <!-- <#%= link_to "MAJ", new_share_review_path(share), class: "btn  btn-success"%> -->
      <%= check_box_tag "share_ids[]", share.id %>

      <div class="share-list-item-name">
        <h3>
          <%= render 'currency_display', share: share %>
          <%= " - #{share.isin}" %>
        </h3>
        <p><%= "Currency S isin : #{share.currencyspecificisin}" %></p>
      </div>

      <div class="share-list-item-body">
        <p><strong> <%= share.securityname %> </strong></p>
        <p><%= "Nom du fonds : #{share.fundname}" %></p>
      </div>

      <%= render 'currency_check', share: share %>
    </div>
  <% end %>
<%= submit_tag "Edit strategy", :class => "btn  btn-info" %>
<% end %>

