<div class="container">
    <%= render 'company_display'%>
  <div class="row">
    <h2>Recherche de parts pour édition</h2>
    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1">
      <div class="row">
        <div id="search-form-db" >
          <%= form_tag shares_path, method: :get, class:"form-group form-inline" do %>
              <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                id: "placeholder-search-db",
                placeholder: "isin ou nom de part" %>
              <%= select_tag :currency_query, options_for_select([["Euro", "EUR"],
                                                                  ["US Dollar", "USD"],
                                                                  ["GBP", "GBP"]]),
                                              include_blank: true,
                                              class:"form-control" %>
              <%= submit_tag "Search", class: "btn btn-primary" %>
          <% end %>
          <div>
            <input id="OpenLookInMs" type="submit" class="btn btn-danger" value="Morningstar Search">
          </div>
        </div>
      </div>
    </div>
    <div div class="row"></div>
      <div id="Sharelist1">
        <%= render 'empty_result' if @shares.empty? || params[:query].nil? %>
      </div>
    </div>

  <div id="search-form-ms" class="row hidden">
    <div class="col-xs-12">
      <%= render 'data_provider_form' %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <%= render 'list_shares' %>
    </div>
  </div>

</div>

<script>

// LU0912262358
  const url = 'http://localhost:3000//share_datas/share_search?morningstar_data_point=&query='

  const form_Search_Db = document.querySelector('#search-form-db');
  const placeholder_search_db = document.querySelector('#placeholder-search-db');
  const form_Search_Ms = document.querySelector('#search-form-ms');
  const placeholder_search_ms = document.querySelector('#placeholder-search-ms');
  const button_Look_In_Ms = document.querySelector('#LookInMs');
  const button_open_Look_InMs = document.querySelector('#OpenLookInMs');
  const button_Cancel_Look_InMs = document.querySelector('#CancelLookInMs');
  const button_New_Look_InMs = document.querySelector('#NewLookInMs');

  //////////////////////////////////////

  button_Look_In_Ms.addEventListener('click', (event) => {
    if (placeholder_search_ms.value !== '') {
      if (document.querySelector('#nb_results')) {
        DeleteResult();
      };
      fetchDataProvider(placeholder_search_ms.value, event.currentTarget, );
    }
  });

  button_open_Look_InMs.addEventListener('click', (event) => {
    form_Search_Ms.classList.toggle("hidden");
  });

  button_Cancel_Look_InMs.addEventListener('click', (event) => {
    form_Search_Ms.classList.toggle("hidden");
  });

  button_New_Look_InMs.addEventListener('click', (event) => {
    if (document.querySelector('#nb_results')) {
      DeleteResult();
    };
    button_Look_In_Ms.value = 'Cliquez ici pour rechercher dans la base Morningstar';
    button_Look_In_Ms.disabled = false;
    button_New_Look_InMs.classList.toggle("hidden");
  });

  //////////////////////////////////////

  function fetchDataProvider(search_value, target) {

    console.log('fetching datas --> ' + search_value);
    target.value = 'Recherche en cours...';
    target.setAttribute("disabled", '');
    fetch(url + search_value)
      .then(response => response.json())
      .then((data) => {

        const nb_results = `<p id="nb_results">Nombre de fonds trouvés : ${data.numbers_result}</p>`;
        results.insertAdjacentHTML("beforebegin", nb_results);

        data.result.forEach((result) => {
          console.log(result.isin);
          // <#%= @isin  %> = result.isin;
          // <#%= new_share = Share.new(isin: @isin) %>

          <%= x=1 %>
          const share = `<li>
                            <p>${result.id}</p>
                            <p>${result.isin}</p>
                            <p>${result.name}</p>
                          </li>`;
          results.insertAdjacentHTML("beforeend", share);
        });
        target.value = 'Recherche terminée !';
      });
    button_New_Look_InMs.classList.toggle("hidden");
  };

  function DeleteResult() {
    const results = document.querySelector('#results');
    document.querySelector('#nb_results').remove();
    if (results.getElementsByTagName("li").length > 0) {
      while( results.firstChild ){
        results.removeChild(results.firstChild );
      };
    };
  };
</script>
