<div class="container">
  <div class="row">
    <div class="col-sm-12">
  <h2>Search by isin or name</h2>
  <div class="row">
    <%= form_tag shares_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a fund by isin" %>

      <%= select_tag :currency_query, options_for_select([["Euro", "EUR"], ["US Dollar", "USD"]]), include_blank: true %>
    <% end %>
  </div>
      <div id="Sharelist1">
        <%= render 'empty_result' unless !@shares.empty? %>
        <%= render 'list_shares' %>
      </div>
    </div>
  </div>
</div>
