<div class="container">
    <%= render 'company_display'%>
  <div class="row">
    <h2>Recherche par isin ou non</h2>
    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1">
      <div id="search-form-db" class="row">
        <%= form_tag shares_path, method: :get, class:"form-group form-inline" do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              id: "placeholder-search-db",
              placeholder: "Find a fund by isin or name" %>
            <%= select_tag :currency_query, options_for_select([["Euro", "EUR"],
                                                                ["US Dollar", "USD"],
                                                                ["GBP", "GBP"]]),
                                            include_blank: true,
                                            class:"form-control" %>
            <%= submit_tag "Search", class: "btn btn-primary" %>
        <% end %>
      </div>
      <div id="Sharelist1">
        <%= render 'empty_result' unless !@shares.empty? || params[:query].nil? %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <%= render 'list_shares' %>
    </div>
  </div>

</div>

<script>

// LU0912262358

  const button_Look_In_Ms = document.querySelector('#LookInMs');
  const button_Search_Form_Ms = document.querySelector('#search-form-db');
  // const button_Look_In_Ms = document.querySelector('#LookInMs');
  const placeholder_search_db = document.querySelector('#placeholder-search-db');
  const placeholder_search_ms = document.querySelector('#placeholder-search-ms');
  const url = 'http://localhost:3000//share_datas/share_search?morningstar_data_point=&query='

  button_Look_In_Ms.addEventListener('click', (event) => {
    if (placeholder_search_ms.value !== '') {
      fetchDataProvider(placeholder_search_ms.value);
    }
  });

  function fetchDataProvider(search_value) {

    console.log('fetching datas --> ' + search_value)
    // event.currentTarget.innerText = 'Recherche en cours...';
    event.currentTarget.setAttribute("disabled", "");

    fetch(url + search_value)
      .then(response => response.json())
      .then((data) => {
        console.log(data.numbers_result);
        data.result.forEach((result) => {
          const share = `<li>
            <p>${result.id}</p>
            <p>${result.isin}</p>
            <p>${result.name}</p>
          </li>`;
          results.insertAdjacentHTML("beforeend", share);

          // console.log(result.id);
          // console.log(result.isin);
          // console.log(result.name);
        });
      });

    button_Search_Form_Ms.remove();
  }

</script>
