<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div id="Sharelist1">
        <% @shares.each do |share| %>
          <div class="share-list-item">
            <div class="share-list-item-name">
              <h3><%= "#{share.currencyid} - #{share.isin}" %></h3>
              <p><%= "Currency specific isin : #{share.currencyspecificisin}" %></p>
            </div>
            <div class="share-list-item-body">
              <p><strong> <%= share.securityname %> </strong></p>
              <p><%= "Nom du fonds : #{share.fundname}" %></p>
            </div>
            <div class="share-list-item-status">
              <p class="status accepted">Base currency</p>
              <p class="price"><%= share.isbasecurrency %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!--   <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div id="Sharelist1">
        <#% @shares.each do |share| %>
          <h4><#%="isin : #{share.isin}" %></h4>
          <h4><#%="Base currency : #{share.isbasecurrency}" %></h4>
          <h5><#%= "Currency : #{share.currencyid}" %></h5>
          <h5><#%= "Currency specific isin : #{share.currencyspecificisin}" %></h5>
          <p><#%= "Nom du fonds : #{share.fundname}" %></p>
          <p><#%= "Nom de la part : #{share.securityname}" %></p>
        <#% end %>
      </div>
    </div>
  </div> -->
