<%= javascript_include_tag 'application' %>


<div class="container">
  <h2><%= "#{@share.securityname}" %></h2>

  <div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="share-item rounded">
          <% if !@category.nil? %>
              <div><p>Catégorie Morningstar</p></div>
              <% if !@category.definitionfrench.nil? && !@category.definitionfrench.empty? %>
                <div class="text-title lighter-font"><%= "#{@category.definitionfrench}" %></div>
              <% else %>
                <div class="text-title lighter-font"><%= "#{@category.definition}" %></div>
              <% end %>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="share-item rounded">
          <div><p> Code isin </p></div>
          <div class="text-title lighter-font"><%= "#{@share.isin}" %></div>
        </div>
      </div>

    </div>

    <div class="row wrap-display">
      <div class="col-xs-12 col-sm-4">

          <% if !@share.reviews.last.nil? %>
            <% if !@share.reviews.last.preconisation_id.nil?  %>
              <% if !@share.reviews.last.preconisation_id.zero?  %>
                <%= render "preconisation", precovalue: Preconisation.find(@share.reviews.last.preconisation_id).id %>
              <% else %>
                <%= render "preconisation", precovalue: nil %>
              <% end %>
            <% else %>
              <%= render "preconisation", precovalue: nil %>
            <% end %>
          <% else %>
            <%= render "preconisation", precovalue: nil %>
          <% end %>

      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="share-item rounded">
          <div><p>Dernière mise à jour</p></div>
          <% if !@share.reviews.last.nil? %>
            <div class="text-title lighter-font"><%= "#{@share.reviews.last.created_at.strftime('%d/%m/%Y')}" %></div>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="share-item rounded">
<!--           <#%= render "isr_tile", isisr: false %> -->

          <div><p>Investissement responsable</p></div>
          <div class="text-title lighter-font"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="share-item rounded share-item-shadow">
          <div><p>Actualité</p></div>
            <% if !@share.reviews.last.nil? %>
              <div class="text-title lighter-font"><%= "#{@share.reviews.last.current_strategy}" %></div>
            <% end %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="share-item rounded">
          <div><p>Performances glissantes</p></div>
          <div class="text-title lighter-font">
            <%= column_chart charts_share_morningstar_data_path(secid:@share.secid,
                morningstar_data_point:"fund_monthly_total_return"), label: "Performance", suffix: "%" , colors: ["rgba(44, 64, 49, 0.7)"], dataset: {borderWidth: 0.2} %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="share-item rounded">
          <div><p>Performances calendaires </p></div>
          <div class="text-title lighter-font">
            <%= column_chart charts_share_morningstar_data_path(secid:@share.secid,
                morningstar_data_point: "fund_calendar_total_return"), label: "Performance", suffix: "%", colors: ["rgba(255, 137, 102, 0.9)"] , dataset: {borderWidth: 0.2}%>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="share-item rounded share-item-shadow">
          <div><p>Structure</p></div>
            <% if !@share.reviews.last.nil? %>
              <div class="text-title lighter-font"><%= "#{@share.reviews.last.investment_strategy}" %></div>
            <% end %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="share-item rounded">
          <div><p>interlocuteur</p></div>
            <% if !@share.reviews.last.nil? %>
              <div class="text-title lighter-font"><%= "#{@share.reviews.last.interlocuteur}" %></div>
            <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="share-item rounded">
          <div><p>Société de gestion</p></div>
          <div class="text-title lighter-font"><%= "#{@share.companyname}" %></div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="share-item rounded">

        </div>
      </div>
    </div>

  </div>

  <% if current_user.admin %>
    <%= link_to "Create a new strategy review", new_share_review_path(@share), class: "btn-create normal-font-button"%>
  <% end %>

  <% if current_user.admin %>

    <h2>Historique de commentaires</h2>

    <div class="row">
      <div class="col-xs-12">
        <div class="share-item rounded">

          <%= "Share name : #{@share.securityname} | isin : #{@share.isin}" %>
          <% @share.reviews.order("created_at desc").each do |review|  %>
            <h5><%= "Creation date : #{review.created_at}" %></h5>
            <h4>investment_strategy</h4>
            <p><%= "#{review.investment_strategy}" %></p>
            <h4>current_strategy</h4>
            <p><%= "#{review.current_strategy}" %></p>
            <% if !review.preconisation_id.nil?  %>
              <% if !review.preconisation_id.zero?  %>
                <h4>Preconisation</h4>
                <p><%= "#{Preconisation.find(review.preconisation_id).name}" %></p>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
