<div class="container">
  <h2>Fiche de fonds</h2>
  <%= link_to "Create a new strategy review", new_share_review_path(@share), class: "btn-create normal-font-button"%>
  <div class="row">
    <div class="col-sm-10">
      <%= "Share name : #{@share.securityname} | isin : #{@share.isin}" %>
      <% @share.reviews.order("created_at desc").each do |review|  %>
        <h5><%= "Creation date : #{review.created_at}" %></h5>
        <h4>investment_strategy</h4>
        <p><%= "#{review.investment_strategy}" %></p>
        <h4>current_strategy</h4>
        <p><%= "#{review.current_strategy}" %></p>
        <% if !review.preconisation_id.nil?  %>
          <% if !review.preconisation_id.zero?  %>
            <h4>Preconisation</h4>
            <p><%= "#{Preconisation.find(review.preconisation_id).name}" %></p>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
