<div class="container">

  <h2><%= @share_catalog_list.count %> Fund reviews for all companies</h2>

  <div class="row share-list-row rounded">
    <% @share_catalog_list.each do |share| %>
      <div class="share-list-item" >
        <div class="share-list-item-name col-sm-4">
          <h3>
            <%= render 'shares/currency_display', share: share %>
            <%= " - #{share.isin}" %>
          </h3>
          <p><%= "Currency S isin : #{share.currencyspecificisin}" %></p>
        </div>

        <div class="share-list-item-body col-sm-5" >
          <p><strong><%= link_to share.securityname, share_path(share), target:"_blank"%></strong></p>
          <p><%= "Nom du fonds : #{share.fundname}" %></p>
        </div>
        <div class="col-sm-2">
          <%= render 'shares/currency_check', share: share %>
        </div>
        <div class="col-sm-4 share-list-item-body">
          <p><strong>
            <% if !share.reviews.last.nil? %>
                <%= "Dernière MAJ : #{share.reviews.last.created_at.strftime('%d/%m/%Y')}" %>
            <% else %>
                <%= "No review yet" %>
            <% end %>
          </strong></p>
          <p>
            <% if !share.reviews.last.nil? %>
                <%= "MAJ à faire le  : #{}" %>
            <% else %>
                <%= "Suivi EOS Allocations" %>
            <% end %>
          </p>
        </div>
      </div>
    <% end %>

  </div>

<!--   <div class="row">
    <#% @companies.each do |company| %>
      <p><#%= company.name %></p>
    <#% end %>
  </div> -->

</div>
