<div class="container">
<p>
  <%= "#{@user.id} | #{@user.first_name} #{@user.last_name} | admin: #{@user.admin}"%>
</p>

    <div class="row">
        <h4><%= @share_catalog_list.count %> Fund reviews for : <%= @company.name %></h4>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <% @share_catalog.each do |share_catalog|%>
          <%= simple_form_for [@company, share_catalog] do |f| %>
            <div class="col-sm-8">
              <%= "#{share_catalog.id} | #{share_catalog.share.securityname} --" %>
              <% if !share_catalog.share.reviews.last.nil? %>
                <%= "last updated at : #{share_catalog.share.reviews.last.created_at.strftime('%m/%d/%Y')}" %>
              <% else %>
                <%= "no review" %>
              <% end %>
            </div>
            <% if @user.admin %>
              <div class="col-sm-4">
                <%= f.submit "Remove from list", class: "btn btn-danger" %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

  <% if @user.admin %>
    <div class="row">
      <h4><%= "Add funds to #{@company.name}'s list" %></h4>
      <%= form_tag company_share_catalogs_path, method: :get, class:"form-group form-inline" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find a fund by isin or name" %>
          <%= select_tag :currency_query, options_for_select([["Euro", "EUR"],
                                                              ["US Dollar", "USD"],
                                                              ["GBP", "GBP"]]),
                                          include_blank: true,
                                          class:"form-control" %>
          <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
    </div>

    <div class="row">
        <p><%= "Results : #{@shares.count}" %></p>
        <%= render 'list_shares' %>
    </div>
  <% end %>
  </div>
</div>
