<div class="container">
    <div class="row">
        <h4><%= @share_catalog_list.count %> Fund reviews for : <%= @company.name %></h4>
<!--
      <div class="col-sm-8">
      </div>
      <div class="col-sm-4">
        <p><#%= link_to "Add a fund to list", new_company_share_catalog_path(@company), class: "btn btn-warning"%></p>
      </div> -->
    </div>

    <div class="row">
      <div class="col-sm-12">
        <% @share_catalog_list.each do |share_catalog|%>
            <div class="col-sm-6">
              <%= link_to "id: #{share_catalog.id} | #{share_catalog.securityname}", share_path(share_catalog), class: "btn btn-success"%>
            </div>
            <div class="col-sm-4">
              <p><%= link_to "Delete", company_share_catalog_path(@company, share_catalog, @share_catalog), method: :patch ,class: "btn btn-danger"%></p>
            </div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <h4><%= "Add funds to #{@company.name}'s list" %></h4>
      <%= form_tag company_share_catalogs_path, method: :get, class:"form-group form-inline" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find a fund by isin or name" %>
          <%= select_tag :currency_query, options_for_select([["Euro", "EUR"],
                                                              ["US Dollar", "USD"],
                                                              ["GBP", "GBP"]]),
                                          include_blank: true,
                                          class:"form-control" %>
          <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
    </div>
    <div class="row">
        <p><%= "Nombre de shares : #{@shares.count}" %></p>
        <%= render 'list_shares' %>
    </div>
  </div>
</div>
