<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Edit strategy for multiples records</h1>
      <%= form_tag create_multiple_share_reviews_path [@shares, @reviews] do %>

        <%= fields_for :review do |f| %>
          <% if params[:field].blank? || params[:field] == "investment_strategy" %>
            <div class="field">
              <%= f.label :investment_strategy %><br />
              <%= f.text_field :investment_strategy, allow_blank: false, placeholder: "Commentaire de structure",
        class: "form-control" %>
            </div>
          <% end %>
          <% if params[:field].blank? || params[:field] == "current_strategy" %>
            <div class="field">
              <%= f.label :current_strategy %><br />
              <%= f.text_field :current_strategy, placeholder: "Commentaire de stratégie",
        class: "form-control"%>
          <% end %>
          </div>
        <% end %>
        <div class="actions">
          <%= submit_tag "Edit selected fields", class: "btn btn-primary" %>
        </div>

        <h3>Latest strategy reviews :</h3>

        <% @shares.each do |share| %>
        <%= hidden_field_tag "share_ids[]", share.id %>
          <%= render 'list_latest_reviews', share: share unless share.reviews.empty? %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
